body{
  margin:0;
  font-family:sans-serif;
  background:#f5f1e8;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:white;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  height:70px;
}

/* NAV */
nav a{
  margin:0 10px;
  text-decoration:none;
  color:#333;
}

/* HERO */
.hero{
  height:90vh;
  background:url('guachucal.png') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay{
  background:rgba(0,0,0,0.5);
  padding:40px;
  border-radius:10px;
  color:white;
  text-align:center;
}

/* SECCIONES */
section{
  padding:80px 30px;
}

h2{
  text-align:center;
  margin-bottom:30px;
}

/* HISTORIA */
.historia-box{
  background:white;
  padding:25px;
  border-left:5px solid #2f5d3a;
  max-width:800px;
  margin:auto;
}

/* PROPOSITO */
.pro-wrapper{
  display:flex;
  gap:30px;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.pro-img{
  max-width:250px;
  opacity:0.4;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card img{
  width:100%;
  height:140px;
  object-fit:cover;
}

/* VALORES */
.small .card{
  text-align:center;
}

/* PORQUE */
.porque-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.porque-card{
  background:white;
  padding:20px;
  border-radius:10px;
  border-top:4px solid #2f5d3a;
}

/* CONTACTO */
.contacto{
  background:#1f3d2b;
  color:white;
  text-align:center;
}

.redes a{
  margin:0 10px;
  font-size:25px;
  color:white;
}

/* FORM */
form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, textarea{
  padding:10px;
  border:none;
}

button{
  background:#2f5d3a;
  color:white;
  padding:12px;
  border:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
}

/* ANIMACION SEGURA */
.fade{
  opacity:0;
  transform:translateY(30px);
  transition:0.8s;
}

.fade.show{
  opacity:1;
  transform:translateY(0);
}
